<div class="sidebar">
  <div class="profile">
    <div class="avatar">👤</div>
    <p><%= current_user.email %></p>
  </div>

  <nav>
    <ul>
      <li><%= link_to "Livros", books_path %></li>
      <% if policy(Book).create? %>
        <li><%= link_to("Novo Livro", new_book_path) %></li>
      <% end %>
      <li><%= link_to "Empréstimos", loans_path %></li>
      <li><%= link_to("Editar Conta", edit_user_registration_path) %></li>
      <li><%= button_to("Sair", destroy_user_session_path, method: :delete, class: "logout-btn") %></li>
    </ul>
  </nav>
</div>
